.dropdown {
  margin-bottom: 25px;
  & label {
    margin-right: 10px;
  }
}

p-dropdown {
  margin-right: 10px;
}

.add-btn {
  display: block;
  margin-top: 25px;
}

.dropdown__wrapper {
  display: flex;
  align-items: center;
}