<div class="spinner" *ngIf="_service.spinner | async">
  <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</div>
<div class="wrapper">

  <div class="dropdown">
    <label>Класс</label>
  <p-dropdown placeholder="Класс" [options]="options" [(ngModel)]="selectedOption" (ngModelChange)="change($event)" optionLabel="Name"></p-dropdown>
</div>
<p-table [value]="entities" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
          <th>Класс</th>
          <th>Имя</th>
          <th>Фамилия</th>
          <th>Дата рождения</th>
          <th>Классный руководитель</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
          <td>{{ product.Class?.Name }}</td>
          <td>{{ product.Name }}</td>
          <td>{{ product.Surname }}</td>
          <td>{{ product.BirthDate | date: 'dd.MM.yy' }}</td>
          <td>{{ product.Class?.Teacher?.Name }}</td>
      </tr>
  </ng-template>
</p-table>
  </div>