<form [formGroup]="form">
    <div>
        <label>Имя</label>
        <input type="text" formControlName="Name" pInputText />
    </div>
    <div>
        <label>Фамилия</label>
        <input type="text" formControlName="Surname" pInputText />
    </div>
    <div>
        <label>Дата рождения</label>
        <p-calendar formControlName="BirthDate" dateFormat="dd.mm.yy"></p-calendar>
    </div>
    <div>
        <label>Класс</label>
        <p-dropdown [options]="options" formControlName="Class" optionLabel="Name"></p-dropdown>
    </div>
    <div class="add-btn" >
        <p-button label="Редактировать" (click)="update()"></p-button>

        <p-button label="Удалить" (click)="confirm($event)"></p-button>
        <p-confirmPopup></p-confirmPopup>
    </div>
</form>
